@import "bootstrap";

.bordered {
  border: solid 1px gray;
}

.bordered.error {
  border: solid 1px red;
}

.item_attr {
  border: solid 1px #60CBEC;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.shape_attr {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.color_attr,
.clarity_attr {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.item_attr:hover {
  background: #DAF5FE;
}

.item_attr.selected {
  background: #94DFF6;
}